.NavigationItem {
    margin: 0;
    box-sizing: border-box;
    display: flex;
    height: 100%;
    align-items: center;
}

.NavigationItem a {
    color: black;
    text-decoration: none;
    height: 100%;
    padding: 8px 4px;
    border-bottom: 4px solid transparent;
    box-sizing: border-box;
    display: block;
}

.NavigationItem a:hover,
.NavigationItem a.active,
.NavigationItem a:active {
    color: rgb(238, 120, 42);
}

@media (min-width: 500px) {
    .NavigationItem {
        margin: 10px 5px;
        box-sizing: border-box;
        display: block;
        width: 100%;
    }
    
    .NavigationItem a {
        color: white;
        text-decoration: none;
        width: 100%;
        box-sizing: border-box;
        display: block;
    }
    
    .NavigationItem a:hover,
    .NavigationItem a.active,
    .NavigationItem a:active {
        background-color: rgb(238, 120, 42);
        border-bottom: 4px solid rgb(62, 161, 197);
        color: #8F5C2C
    }
    
}   