.IssueBooks {
    margin: auto;  
    width: 95%;
    margin-bottom: 20px;
    text-align: center;
    box-shadow: 0 2px 3px #ccc;
    border: 1px solid #eee;
    background-color: #f2f2f2;
    padding: 10px;
    box-sizing: border-box;
}

.Profile {
    margin: 10% auto;  
    width: 50%;
    margin-bottom: 20px;
    text-align: center;
    box-shadow: 0 2px 3px #ccc;
    border: 1px solid #eee;
    background-color: #f2f2f2;
    padding: 10px;
    box-sizing: border-box;
}

@media (min-width: 600px) {
    .IssueBooks {
        width: 80%;
        margin:auto;
        margin-bottom: 50px;
    }
}

.Form {
    width: 100%;
    height: auto;
}

.Button {
    margin: 0px;
}