.Input {
    width: 45%;
    margin: 0 2%;
    padding: 20px;
    box-sizing: border-box;
    float: left;
}

.Label {
    font-weight: bold;
    float: left;
    margin: 4px 0px;
}

.InputElement {
    outline: none;
    border: 1px solid #ccc;
    background-color: white;
    font: inherit;
    padding: 6px 10px;
    float: left;
    width: 100%;
    box-sizing: border-box;
    border-radius: 8px;
}

.InputElement:focus{
    outline: none;
    background-color: white;
    border: 1px solid blue;
}

.Invalid {
    border: 1px solid red;
    background-color: salmon;
}

.ValidationError {
    color: red;
    margin: 5px 0;
} 
